<div class="row">
  <div class="form-inputs task-form" data-id="<%= task.id %>">
    <div class="eleven columns created-task">
      <%= text_field_tag 'task[description]', task.description %></p>
    </div>
    <div class="one column created-task">
      <%= check_box_tag 'task[completed]', task.completed, task.completed %>
    </div>
  </div>
</div>