<main class="app-logo">
	<h1>Acme</h1>
  <div class="anvil">
    <h2>TO-DO lists</h2>
  </div>
</main>
<section class="about">
	<article>
		<h3>Need to catch a Roadrunner?</h3>
		<div>
			<%= image_tag "roadrunner.png"%>
			<p>
				Our brand new todo list app will keep you organized and will increase your chances,
				dont lose your time and <a href="#">Sign Up</a> in our app, if you are in doubt you can 
				<a href="#">Browse the public todo lists</a> and get some inspiration!
			</p>
		</div>
	</article>
	<hr>
</section>

<footer>
		&reg; Acme Anvil Corp. All rights... and lefts too reserved!
</footer>

