@font-face {
    font-family: "Acme Logo";
    src: url('Acme-Logo.ttf') format("truetype");
}

@font-face {
    font-family: "Acme Regular";
    src: url('CreteRound-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url('Montserrat-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url('Montserrat-Regular.ttf') format("truetype");
}
