body {
	margin: 0;
	background: #9c2a2a;
	color: #cfc089;
}

main {
	width: 100%;
	margin: 1em auto 1em auto;
	text-align: center;
}

main h1 {
	font-size: 8em;
  margin-bottom: 0.1em;
  margin-top: 0.3em;
	font-family: "Acme Logo", "Sans serif";
	font-weight: 500;
}

main h2 {
	font-size: 6em;
  margin-bottom: 0.1em;
  margin-top: 0.3em;
	font-family: "Acme Regular", "Sans serif";
	font-weight: 500;	
}

main .anvil {
	width: 350px;
	height: 170px;
	margin: 1em auto 1em auto;
	text-align: center;
	background-image: url('anvil-transparent-re.png');
	background-position: 50% 	0%;	
}

main .anvil p {
	font-family: "Montserrat Bold";
	font-size: 1.2em;
	line-height: 4;
	margin-right: 1em;
}


nav ul {
	text-align: center;
	background-color: #cfc089;
	margin: 0;
	padding: 1em 1em 1em 1em;
}

nav ul li {

	display: inline;
	padding-right: 1em;
}

nav ul li:last-child {
	padding-right: 0;
}

nav ul li a {
	text-decoration: none;
	color: #AE2225;
	font-family: "Montserrat Regular", "Sans serif";
	font-size: 1em;
}

.about {
	margin-top: 2em;
	padding: 2em 7em 2em 7em;
	background-color: #cfc089;
}

.about article h3 {
	color: #29160E;
	font-size: 3em;
  margin-bottom: 0.1em;
  margin-top: 0.3em;
	font-family: "Acme Regular", "Sans serif";
}
.about article img {
	float: left;
	width: 20%;
}
.about article p{
	color: #29160E;
	font-family: "Montserrat Regular", "Sans serif";
	font-size: 2em;
	padding: 4em 0 2em 0;
}

.about article p a{
	color: #9c2a2a;
}

.about hr{
	margin-top: 5em;
	border-color: #29160E
}

footer {
	color: #29160E;
	background-color: #cfc089;
	text-align: center;
	padding: 2em;
}