<header>
  <nav>
    <ul>
      <li>
        <%= link_to "My lists", user_task_lists_path(current_user), class: 'not-change-color'%>
      </li>
      <li>
        <%= link_to "Browse public lists", public_task_lists_path, class: 'not-change-color'%>
      </li>
      <li class="u-pull-right">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'not-change-color'%>
      </li>
    </ul>
  </nav>
</header>